@import "https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css";

#filters {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, max-content));
	grid-gap: 0.5vh 0.5vw;
	position: sticky;
	top: 0;
	background: #222;
	padding: 1em 0;
}

#log {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, max-content));
	grid-gap: 1vh 1vw;
}

#log-headers, #log-body, .log-entry {
	display: contents;
}

#log-headers {
	font-weight: bold;
}
